<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue JS par Laracasts</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style>
      html,
      body {
        height: 100%;
      }

      body {
        display: grid;
        place-items: center;
      }
      .text-green {
        color: green;
      }
      .text-red {
        color: red;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h2 class="font-bold mb-3">Les tâches terminées:</h2>
      <ul>
        <li v-for="tache in taches">
          <label>
            {{ tache.name }}
            <input type="checkbox" v-model="tache.isComplete" />
          </label>
        </li>
      </ul>
      <pre>
       {{taches}}
      </pre>
    </div>

    <script>
      Vue.createApp({
        data() {
          return {
            taches: [
              { name: "Se familiariser avec Vue JS ", isComplete: false },
              { name: "Comprendre Laravel", isComplete: false },
              { name: "Explorer Inertia.js Middlewar", isComplete: false },
            ],
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
